<% if current_user.admin? %>
  <%= render "/regions/new_region", region: @region %>
<% end %>

<ul>
  <% @regions.each do |region| %>
    <li><%= link_to region.name, region %></li>
  <% end %>
</ul>
