<%= form_for @user do |form| %>
  <div>
    <%= form.email_field :email, placeholder: "email", class: "form-control" %>
  </div>
  <div>
    <%= form.password_field :password, placeholder: "password", class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Sign up", class: "btn"  %>
  </div>
<% end %>
