<div id="error_explanation">
  <h4><%= pluralize(post.errors.count, "error") %> prohibited this task from being saved:</h4>
  <ul>
    <% post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
