<div>
  <h4><%= @post.title %></h4>
  <p><%= @post.body %></p>
  <span class="timestamp">Posted <%= time_ago_in_words @post.created_at %> ago</span>
  <%= button_to "Mark as spam", [@post, :spams] %>
</div>
