body {
  @include outer-container;
}

.container {
  @include span-columns(12);
  background-color: #E6E7E8;
  padding: 30px;
}

.button {
  float: left;
  width: 5em;
}

.nav-menu {
  @include span-columns(12);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background: $dark-gray;
  padding: 20px;
}

.header {
  @include span-columns(3);
  font-size: 20px;
}
.sign_up_buttons .button {
  margin-right: 20px;
}

.greg {
  float: right;
}

.sign_up_buttons {
  padding-bottom: 50px;
}

#logo {
  margin-right: 30px;
  margin-left: 10px;
}

#map-canvas {
  float: left;
}

#search-form { 
  padding-right: 2em;
  @include span-columns(5.5);
}

#search-form h5 {
  color: white;
  padding-bottom: 5px;
}

.post_button {
  float: right;
}

#logo {
  float: left;
}

#logo h1 {
  display: inline;
  font-size: 80px;
  margin-left: 5px;
}

.dashboard {
  display: block;
}

.sign-out {
  @include span-columns(4);
  float: left;
}

.dashboard h4 {
  @include span-columns(5);
  margin-bottom: 30px;
}

.form-control {
  width: 400px;
}

.page {
  @include span-columns(12);
}

.map-text {
  @include span-columns(11);
  @include shift(.5);
  display: block;
  background: $dark-gray;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  padding-left: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.regions {
  @include span-columns(6);
}
