.timestamp {
  font-size: .8em;
}

.edit_post {
  display: none;
}

.new_post_response {
  display: none;
}

#post-responses {
  display: none;
}

#map-canvas {
  height: 470px;
  @include span-columns(11);
  @include shift(.5);
  margin-right: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-top: 20px;
  display: block;
}
