.timestamp {
  font-size: .8em;
}

.edit_post {
  display: none;
}

.new_post_response {
  display: none;
}

#post-responses {
  display: none;
}

#map-canvas {
  height: 470px;
  width: 700px;
  margin-right: 60px;
  margin-bottom: 10px;
}
