<%= link_to "My dashboard page", :dashboard %>
<h2>Search for Apartments here (and find jobs)</h2>

<% if current_user.admin? %>
  <h4>Add a new region</h4>
  <%= render "/regions/new_region", region: @region %>
<% end %>

<h4>Regions</h4>
<%= render @regions %>
