<h3> <%= @region.name %> </h3>
<% if signed_in? %>
  <% if current_user.admin? %>
    <%= render "categories/new_category", {category: @category, region: @region} %>
  <% end %>
<% end %>

<ul>
  <%= render @region.categories %>
</ul>
